.semester-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.post-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@media only screen and (max-width: 710px) {

}