.post-container {
  display: flex;
  /* width: 700px; */
  width: 100%;
  max-width: 1000px;
  padding: 20px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}

.horizontal-image {
  flex-direction: column;
  align-items: center;
}

.vertical-image {
  flex-direction: row;
  justify-content: center;
}

.vertical-image img,
.horizontal-image img {
  border-radius: 8px;
}

.vertical-image img {
  /* height: 700px; */
  box-sizing: border-box;
}
.horizontal-image img {
  min-height: 400px;
  /* width: 100%; */
  box-sizing: border-box;
}

.description {
  font-size: 18px;
  color: #113f67;
  text-align: justify;
}

.vertical-image .description {
  box-sizing: border-box;
  padding: 0 20px;
}

.horizontal-image .description {
  box-sizing: border-box;
  padding: 20px 20px 0 20px;
}

.image-container .no-image {
  padding: 0 20px;
}

@media only screen and (max-width: 710px) {
  .vertical-image,
  .horizontal-image {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    box-sizing: border-box;
  }

  .vertical-image img {
    width: 75%;
    height: auto;
  }
  .vertical-image .description {
    padding-top: 20px;
  }
  .horizontal-image img {
    min-height: 0px;
    width: 100%;
  }

  /* img, .description {
    max-width: 90vw;
  } */
}
