.post-container {
  display: flex;
  width: 700px;
  border-bottom: solid 1px rgba(0,0,0,0.3);
}

.horizontal-image {
  flex-direction: column;
}

.vertical-image {
  height: 600px;
  flex-direction: row;
}

.vertical-image img,
.horizontal-image img {
  padding: 20px;
  border-radius: 30px;
}

.vertical-image img {
  width: 50%;
  box-sizing: border-box;
}
.horizontal-image img {
  height: 70%;
  width: 100%;
  box-sizing: border-box;
}

.description {
  font-size: 14px;
  color: #113f67;
  text-align: justify;
}

.vertical-image .description {
  box-sizing: border-box;
  padding: 20px;
}

.horizontal-image .description {
  box-sizing: border-box;
  padding: 20px;
}
